<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <!--<meta name="csrf-param" content="authenticity_token" />-->
    <!--<meta name="csrf-token" content="4Jna39sgUDnTlcM5qZX0K6dGrRKm4asW+0BrIuO7i+Qry+T/m6D/WVAdtNs1AM36isE0EEK+armzOUsBTHZ3iQ==" />-->

    <link rel="stylesheet" media="all" href="/assets/stylesheets/homes.scss" data-turbolinks-track="reload" />
    <!--<script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>-->
  </head>

  <body>
    <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
<p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p><p>印象を共有し交換することができます</p>
<p><a href="/books">start</a></p>
  </body>
</html>
